@CHARSET "UTF-8";

header, 
footer,
aside
{
	display: none;
}
/*
     FILE ARCHIVED ON 08:26:36 Jul 17, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:43:29 Jun 18, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.725
  exclusion.robots: 0.081
  exclusion.robots.policy: 0.068
  esindex: 0.014
  cdx.remote: 1070.509
  LoadShardBlock: 188.599 (3)
  PetaboxLoader3.datanode: 84.912 (4)
  PetaboxLoader3.resolve: 259.979 (2)
  load_resource: 195.353
*/